h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
   background-color: aqua ;
  display: flex; 
  justify-content: space-between;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}